<!-- Here's the DIV that we inject the map into -->
<div fxLayout="row">
  <div fxFlex="20%" fxLayout="column">
      <mat-list>
          <mat-list-item>
            <button class="btn internal" (click)="navigateHome()">Home</button>
          </mat-list-item>
          <mat-list-item *ngIf="authService.isLoggedIn">
            <button class="btn internal" (click)="signout()">Logout</button>
          </mat-list-item>
      </mat-list>

      <mat-form-field>
        <mat-label>Show a trail</mat-label>
        <mat-select>
          <mat-option *ngFor="let fl of pointsLayers" [value]="fl.name" (click)="showTrail(fl.name)">
            {{fl.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Start a trip</mat-label>
        <mat-select>
          <mat-option *ngFor="let fl of pointsLayers" [value]="fl.name" (click)="startTrip(fl.name)">
            {{fl.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="authService.isLoggedIn">
        <p></p>
        <h4>Write a review</h4>
      </div>
      <div>
        <form #myForm="ngForm" fxLayout="column" *ngIf="authService.isLoggedIn">
            <mat-form-field>
              <input matInput placeholder="Enter review description" name="textValue" [(ngModel)]="newText" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Choose rating (1 to 5)</mat-label>
              <mat-select name="intValue" [(ngModel)]="intValue" required>
                <mat-option *ngFor="let value of [1, 2, 3, 4, 5]" [value]="value">{{ value }}</mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button mat-button color="primary" type="button" class="full-w" (click)="createTrailReview()">Submit review</button>
          </form>
      </div>
      
      <mat-list>
          <button mat-button color="primary" type="button" class="full-w" (click)="showReviews()">Show Reviews</button>
      </mat-list>
      
  </div>
  <div fxFlex="80%" class="measure-container">
      <div #mapViewNode class="screen-height"></div>
      <div id="measurements"></div>
  </div>
</div>


